<%= content_for :title, "Edit User" %>
<div class="content">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
              <div class="col-md-6">
                <!-- START PANEL -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Edit User
                    </div>
                  </div>
                  <div class="panel-body">
						<%= render "form" %>
					 </div>
                </div>
                <!-- END PANEL -->
              </div>
            </div>
          </div>
        </div>  