<% content_for :title, "Home" %>
<div class="content sm-gutter">
	<div class="container-fluid padding-25 sm-padding-10">
		<div class="row">
			<div class="col-md-6 col-xlg-5">
				<p>Hi! This is Rovex website.</p>
			</div>
		</div>
	</div>
</div>
