<% content_for :title, "Home" %>
<div class="content sm-gutter">
	<div class="container-fluid padding-25 sm-padding-10">
		<div class="row">
			<div class="col-md-12 col-xlg-12">
			<% if flash.key?("notice") or flash.key?("alert") %>
            <% if flash.key?("alert") %>
              <div class="alert alert-danger">
                <span>Error:</span><%= alert %>
              </div>
            <% end %>    
            <% if flash.key?("notice") %>
              <div class="alert alert-success">
                <span>Success:</span>
                <%= notice %>
              </div>
            <% end %>    
          <% end %>
				  <div class="col-md-3">
            <div class="widget-10 panel no-border bg-white no-margin widget-loader-bar">
              <div class="panel-heading top-left top-right ">
                <div class="panel-title text-black hint-text">
                  <span class="font-montserrat fs-11 all-caps">Users 
                  </span>
                </div>
              </div>
              <div class="panel-body p-t-40">
                <div class="row">
                  <div class="col-sm-12">
                  <h4 class="no-margin p-b-5 text-danger semi-bold"><%= @total_user %></h4>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="p-t-10 full-width">
                <a href="<%= users_path %>"><span class="hint-text small">View All</span></a>
              </div>
            </div>
</div>
 
</div>
			</div>
		</div>
	</div>
</div>
